body{
    margin: 0px;
    padding: 0px;
    font-family: "Arial", "Times New Roman", "Tahoma", "Verdana" ;
}
.logo {
    float:left;
}
#page{
    margin: 70px 70px;
}

/* Header style */
header a{
    text-decoration: none;
    color: #7e7e7e;
}
header li:hover{
    background: #fafafa;
}

div.topnav{
    margin-left: auto;
    float: right;
}

div.topnav li{
    display : inline-block;
    border: 1px solid;
    padding: 5px 10px;
}

.header_nav li:hover{
    background: #efefef;
}

div.clear{
    clear: left;
}

/* Left menu style */
div.leftmenu{
    margin-top: 80px;
    margin-right: 70px;
    width: 338px;
    float: left;
}

div.leftmenu a{
    text-decoration: none;
    color: #7e7e7e;
}

div.leftmenu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

div.leftmenu ul li{
    border: 1px solid;
    padding: 10px 5px;
}

div.leftmenu ul li:hover{
    background: #fafafa;
}

/* Main content style*/
div.example{
    float: left;
    border: 1px solid;
    width: 300px;
}
main {
    margin-top: -20px;
    padding-left: 408px;
}

div.main_title h1,h2{
    margin: 0px;
    padding-left: 300px;
}

div.main_title h1{
    font-size: 48px;
}
div.main_title p{
    font-size: 28px;
}
div.content h5{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
div.content p{
    margin-top: 5px;
    padding-top: 5px;
}

/* Form Style */
main div.forms{
    width: 100%;
    border-top: 1px solid;
    padding-top: 10px;
    margin-top: 10px;
}
main div.result{
     margin-top: 50px;
}
main div.code{
    padding-top: 50px;
}

/* Footer style */
footer{
    margin-top: 50px;
    text-align: center;
}